################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Src/.vs
/Src/Collares/bin
/Src/Collares/obj
/Src/Collares.UnitTest/bin
/Src/Collares.UnitTest/obj
/Src/Collares.WebApiExample/bin
/Src/Collares.WebApiExample/obj
/.vs
